@tailwind base;
@tailwind components;
@tailwind utilities;

#test{
   background-color:rgb(193, 152, 152);
   display: flex;
   justify-content: center;
   align-items: center;
}
#btn{
   background-color: blue;
}